<div class="feed-item">
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{feed_item.latitude}%2C#{feed_item.longitude}" %>
	<div><span class="bold">Name: </span><%= feed_item.name %></div>
	<div><span class="bold">Distance: </span><%= feed_item.distance_to([session[:lat], session[:long]]).round(2) %> miles away</div>
	<div><span class="bold">Address: </span><%= feed_item.address %>  <%= feed_item.city %>,  <%= feed_item.state %> </div>
	<div id="<%= "check_in"+feed_item.id.to_s %>"><%= render :partial => 'shared/check_in', :object => feed_item %></div>
	<% unless current_user.has_checked_in(feed_item, timestamp_get(session), session[:date][:hour_start].to_i ) or session[:date][:day].to_i != Time.now.day or session[:date][:month].to_i != Time.now.month or (@difference<-1)%>
		<input  id="<%= "form"+feed_item.id.to_s %>"name="submit" type="submit" value="Check-in" class="check-in">
	<% end %>    


<div class="light-wrapper" id="light-wrapper<%= feed_item.id.to_s  %>">
    <div id="light<%= feed_item.id.to_s  %>" class="white_content" >
            <%= render :partial => 'shared/check_in_form', :object => feed_item %>
            
    </div>
    
    <div id="fade<%= feed_item.id.to_s  %>" class="black_overlay"></div>
</div>
<script>
$('a.close-light').click(function() {
    $('#light<%= feed_item.id.to_s  %>').hide();
    $('#fade<%= feed_item.id.to_s  %>').hide();
    $('#light-wrapper<%= feed_item.id.to_s  %>').hide();
});
$("#form<%= feed_item.id.to_s  %>").click(function(){
	document.getElementById('light<%= feed_item.id.to_s  %>').style.display='block';
	document.getElementById('fade<%= feed_item.id.to_s  %>').style.display='block';
	document.getElementById('light-wrapper<%= feed_item.id.to_s  %>').style.display='block';
})
</script>