<script>
		if(geo_position_js.init()){
			geo_position_js.getCurrentPosition(success_callback,error_callback,{enableHighAccuracy:true});
		}
		else{
			alert("Functionality not available");
		}

		function success_callback(p)
		{
			$.ajax({
			    url: '/geo_grab?lat='+p.coords.latitude.toFixed(4)+'&long='+p.coords.longitude.toFixed(4),
			    success: function (data) {
			    },
			    error: function(xhr, status, error) {
			    },
			})
		}
		
		function error_callback(p)
		{
			alert('error='+p.code);
		}		
		
</script>
<h1>Let's us know what sport you want play now!</h1>
<%= form_tag("/reg_redirect", :method => "get") do %>
	<h3>Sport:</h3>
	<div>
		<%= check_box_tag(:basketball) %>
		<%= label_tag(:basketball, "Basketball") %>
	</div>
	<div>
		<%= check_box_tag(:volleyball) %>
		<%= label_tag(:volleyball, "Volleyball") %>
	</div>
	<div>
		<%= submit_tag("Find") %>
	</div>
<% end %>
