<!DOCTYPE html>
<html>
<head>
  <title>SportScape</title>
	<%= javascript_include_tag "jquery" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render 'shared/footer' %>
</body>
<%= javascript_include_tag "bottom" %>
</html>
